html {

}

body {
    font-family: sans;
}

.wrapper {
    display: grid;

}

.slider-wrapper {
    display: inline-block;
    width: 20px;
    heigth: 150px;
    padding: 0;
}

.slider-wrapper input {
    width: 150px;
    height: 20px;
    margin: 0;
    transform-origin: 75px 75px;
    transform: rotate(-90deg);
}
	       